* {
  padding: 0;
  margin: 0;
}

.app{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 80vh;
  width: 100%;
  margin: auto;
}

.app main{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 90%;
  overflow: auto;
}

.reverse{
  display: flex;
  flex-direction: row-reverse;
}

.listItem{
  display: flex;
  flex-direction: row-reverse;
  border-radius: 8px;
  background: linear-gradient(to left, rgba(37, 36, 36, 0.401), transparent 50%, transparent 50%, rgba(37, 36, 36, 0.401));
  padding: 5px;
  margin-bottom: 15px;
  color: rgb(153, 172, 32);;
  text-decoration: none;
  justify-content: space-evenly;
}
.listItem>:first-child{
  margin-right: 10px;
}
.listItem>:last-child{
  margin: 0;
}

.listItem:hover{
  background: linear-gradient(to left, rgb(17, 0, 0), transparent 50%, transparent 50%, rgb(17, 0, 0));
}

.listIcon{
  height: 3rem;
  object-fit: contain;
}
.listItemText{
  justify-items: center;
  justify-content:space-between;
}
.nobmre{
  text-decoration: none;
  color: rgb(5, 91, 91);
  -webkit-text-fill-color:transparent ;
  padding: 3px;
  font-size: 1rem;
  display: flex;
  margin-bottom: 11px;
  font-weight: bold;
}
.listItemText>:last-child{
  color: rgb(97, 98, 68);
  font-weight: bolder;
  font-size: 1rem;
  display: flex;
}

.pokeballbutton{
  border-radius: 10px 0px 0px 10px;
  border: none;
  background: linear-gradient(rgb(94, 38, 38), transparent);
  display: flex;
  flex-direction: row-reverse;
  margin-right: 0%;
  position: absolute;
  z-index: 10;
  right: 0%;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 2rem;
  object-fit: contain;
  cursor: pointer;
}

.pokeballbutton:hover{
  background: linear-gradient(rgb(214, 22, 22), transparent);
}

.pokeballimage{
  height: 80%;
  object-fit: contain;
  right: 0%;
}

.home-design{
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.colorHome{
  background: linear-gradient(125deg, transparent 45%, rgb(210, 8, 8) 35%)
}

.home-design img{
  width: 50%;
}

.base{
  padding: min(2%, 10px);
}

.buscador{
  height: 50%;
  width: 70%;
  padding: 0%;
  margin-bottom: 5%;
}

.buscador input, .buscador header{
  height: 100%;
  border:none;
  width: 98%;
  border-radius: 5px;
  font-size: 90%;
}
.buscador input{
  background-color: rgba(69, 49, 49, 0.588);
  color: rgb(255, 255, 255);
  padding-left: 5%;
}

.top-bar{
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(125deg, rgba(69, 49, 49, 0.588) 50%, rgba(4, 0, 0, 0.946) 50%);
  height: 10vh;
}
.top-bar img{
  margin-left: 2%;
  width: 40%;
  height: 80%;
}

.cols {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cols-op{
  justify-items: center;
  height: 50%;
  padding: 1% 5%;
  z-index: 1;
  width: 90%;
}

.card{
  border-radius: 8px;
  margin-bottom: 5px;
  background: linear-gradient(to left, rgba(90, 88, 88, 0.519), transparent 25%, transparent 75%, rgba(90, 88, 88, 0.519));
}

.cols-img{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pos-bag{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}
.pos-bag img{
  width: 80%;
  border-radius: 100%;
  -webkit-box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.598);
  -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.598);
  box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.598);
}

.pokemon{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.pokemon img{
  width: 20%;
}

.refimg img{
  height: 80%;
  width: 100%;
}

.pokeImg_border{
  padding: 0;
  display: flex;
  height: 25%;
  object-fit: contain;
}

.dreamPoke{
  height: 50%;
  width: 100%;
}

.cardInfo{
  justify-items: center;
  margin: auto;
  height: 50%;
  padding: 1% 5%;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(126, 57, 57, 0.943), rgb(42, 40, 40));
  -webkit-box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.598);
  -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.598);
  box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.598);
  width: 80%;
}

.cardInfo img{
  position: absolute;
  right: -6%;
  bottom: -5%;
}

.cardInfo h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.sectionCont{
  height: 30%;
  padding: 0%;
  width: 100%;
  border-radius: 5px;
}

.container {
  background: rgb(223, 217, 217);
  height: 100%;
  width: 98%;
  padding: 0%;
  border-radius: 20px 0px;;
}

.par{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0%;
  margin-top: 5%;
}

.parteJerson{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-style: italic;
  text-transform: uppercase;
  color: black;
  margin-top: 4%;
  
}

.par h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(148, 124, 124);
}

.dupla{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0%;
  margin: auto;
}

.dupla p{
  font-size: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 10%;
  color: rgb(56, 54, 51);
}

@media only screen and (min-width: 1025px) {
  .cols{
    height: 80vh;
    display: flex;
    flex-direction: row;
  }
  .cols-op{
    height: 80vh;
    width: 50%;
  }
  .cols-img{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
  }

  .pos-bag img{
    width: 60%;
  }
  .refimg img{
    width: 100%;
    object-fit: contain;
  }

  .pokemon img{
    width: 10%;
  }

  .pokeImg_border{
    display: flex;
    padding: 0;
    right: 0%;
    height: 35%;
    object-fit: contain;
  }

  .cardInfo img{
    position: absolute;
    z-index: 1;
    right: -12%;
    bottom: 10%;
  }

  .ajuste{
    width: 80%;
    height: 80%;
  }

  .cardInfo{
    height: 50vh;
    margin-right: 10%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5%;
  }

  .pokeballbutton{
    border-radius: 10px 0px 0px 10px;
    border: none;
    background: linear-gradient(rgb(94, 38, 38), transparent);
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0%;
    position: absolute;
    z-index: 10;
    right: 0%;
    justify-content: space-evenly;
    align-items: center;
    width: 7rem;
    height: 3rem;
    object-fit: contain;
    cursor: pointer;
  }
}

.fire{
  background: linear-gradient(45deg, transparent 50%, rgb(222, 105, 21) 50%);
}
.water{
  background: linear-gradient(45deg, transparent 50%, rgb(74, 189, 191) 50%);
}
.grass{
  background: linear-gradient(45deg, transparent 50%, rgb(113, 123, 38) 50%);
}
.fighting{
  background: linear-gradient(45deg, transparent 50%, rgb(206, 174, 104) 50%);
}
.normal{
  background: linear-gradient(45deg, transparent 50%, rgb(109, 103, 78) 50%);
}
.electric{
  background: linear-gradient(45deg, transparent 50%, rgb(234, 255, 0) 50%);
}
.ice{
  background: linear-gradient(45deg, transparent 50%, rgb(1, 208, 255) 50%);
}
.ground{
  background: linear-gradient(45deg, transparent 50%, rgb(101, 101, 101) 50%);
}
.flying{
  background: linear-gradient(45deg, transparent 50%, rgb(137, 212, 181) 50%);
}
.poison{
  background: linear-gradient(45deg, transparent 50%, rgb(143, 63, 218) 50%);
}
.psychic{
  background: linear-gradient(45deg, transparent 50%, rgb(169, 71, 141) 50%);
}
.bug{
  background: linear-gradient(45deg, transparent 50%, rgb(95, 148, 56) 50%);
}
.rock{
  background: linear-gradient(45deg, transparent 50%, rgb(75, 73, 70) 50%);
}
.ghost{
  background: linear-gradient(45deg, transparent 50%, rgb(117, 83, 124) 50%);
}
.dark{
  background: linear-gradient(45deg, transparent 50%, rgb(61, 4, 88) 50%);
}
.dragon{
  background: linear-gradient(45deg, transparent 50%, rgb(37, 76, 217) 50%);
}
.steel{
  background: linear-gradient(45deg, transparent 50%, rgb(229, 149, 149) 50%);
}
.fairy{
  background: linear-gradient(45deg, transparent 50%, rgb(238, 0, 234) 50%);
}

.per{
  height: 100%;
  border-radius: 20px 0px;
}

.width_out{
  background: red;
  height: 100%;
  width: 100%;
}
