* {
  padding: 0;
  margin: 0;
}

.app{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 80vh;
  width: 100%;
  margin: auto;
}

.app main{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 90%;
  overflow: auto;
}

.reverse{
  display: flex;
  flex-direction: row-reverse;
}

.listItem{
  display: flex;
  flex-direction: row-reverse;
  border-radius: 8px;
  background: linear-gradient(to left, rgba(90, 88, 88, 0.519), transparent 50%, transparent 50%, rgba(90, 88, 88, 0.519));
  padding: 5px;
  margin-bottom: 15px;
  color: aqua;
  text-decoration: none;
  justify-content: space-evenly;
}
.listItem>:first-child{
  margin-right: 10px;
}
.listItem>:last-child{
  margin: 0;
}

.listItem:hover{
  box-shadow: 10px white;
  background: linear-gradient(45deg, blue 50%, gray 50%);
}

.listIcon{
  height: 3rem;
  object-fit: contain;
}
.listItemText{
  justify-items: center;
  justify-content:space-between;
}
.nobmre{
  text-decoration: none;
  color: aqua;
  -webkit-text-fill-color:transparent ;
  padding: 3px;
  font-size: 1rem;
  display: flex;
  margin-bottom: 11px;
  font-weight: bold;
}
.listItemText>:last-child{
  color: grey;
  font-weight: bolder;
  font-size: 1rem;
  display: flex;
}

.home-design{
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.colorHome{
  background: linear-gradient(125deg, transparent 45%, red 35%)
}

.home-design img{
  width: 50%;
}

.base{
  padding: min(2%, 10px);
}

.top-bar{
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(45deg, gray 50%, black 50%);
  height: 10vh;
}
.top-bar img{
  margin-left: 2%;
  width: 40%;
  height: 80%;
}

.cols {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
}



.cols-op{
  height: 50%;
  padding: 5%;
  width: 90%;
}

.card{
  border-radius: 8px;
  margin-bottom: 5px;
  background: linear-gradient(to left, rgba(90, 88, 88, 0.519), transparent 25%, transparent 75%, rgba(90, 88, 88, 0.519));

}

.cols-img{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pos-bag{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}
.pos-bag img{
  width: 80%;
}

.pokemon{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.pokemon img{
  width: 20%;
}

@media only screen and (min-width: 850px) {
  .cols{
    height: 80vh;
    display: flex;
    flex-direction: row;
  }
  .cols-op{
    height: 80vh;
    width: 50%;
  }
  .cols-img{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
  }

  .pos-bag img{
    width: 60%;
  }

  .pokemon img{
    width: 10%;
  }
}

.fire{
  background: linear-gradient(45deg, transparent 50%, rgb(222, 105, 21) 50%);
}
.water{
  background: linear-gradient(45deg, transparent 50%, rgb(74, 189, 191) 50%);
}
.grass{
  background: linear-gradient(45deg, transparent 50%, rgb(113, 123, 38) 50%);
}
.fighting{
  background: linear-gradient(45deg, transparent 50%, rgb(206, 174, 104) 50%);
}
.normal{
  background: linear-gradient(45deg, transparent 50%, rgb(109, 103, 78) 50%);
}
.electric{
  background: linear-gradient(45deg, transparent 50%, rgb(234, 255, 0) 50%);
}
.ice{
  background: linear-gradient(45deg, transparent 50%, rgb(1, 208, 255) 50%);
}
.ground{
  background: linear-gradient(45deg, transparent 50%, rgb(101, 101, 101) 50%);
}
.flying{
  background: linear-gradient(45deg, transparent 50%, rgb(137, 212, 181) 50%);
}
.poison{
  background: linear-gradient(45deg, transparent 50%, rgb(143, 63, 218) 50%);
}
.psychic{
  background: linear-gradient(45deg, transparent 50%, rgb(169, 71, 141) 50%);
}
.bug{
  background: linear-gradient(45deg, transparent 50%, rgb(95, 148, 56) 50%);
}
.rock{
  background: linear-gradient(45deg, transparent 50%, rgb(75, 73, 70) 50%);
}
.ghost{
  background: linear-gradient(45deg, transparent 50%, rgb(117, 83, 124) 50%);
}
.dark{
  background: linear-gradient(45deg, transparent 50%, rgb(61, 4, 88) 50%);
}
.dragon{
  background: linear-gradient(45deg, transparent 50%, rgb(37, 76, 217) 50%);
}
.steel{
  background: linear-gradient(45deg, transparent 50%, rgb(229, 149, 149) 50%);
}
.fairy{
  background: linear-gradient(45deg, transparent 50%, rgb(238, 0, 234) 50%);
}
